<div
  class="w-[70%] smd:w-[50%] md:w-[40%] lg:w-[35%] xl:w-[30%] 2xl:w-[25%] ml-[25%] md:ml-[20%] xl:ml-[12%] 2xl:ml-[10%] shadow-2xl shadow-slate-800 dark:bg-slate-700 bg-white h-[300px] md:h-[390px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] rounded-lg overflow-scroll md:overflow-auto"
>
  <div class="text-center">
    <div class="pt-4 relative mx-auto text-gray-600">
      <input
        class="border-2 border-gray-300 dark:bg-zinc-300 bg-white h-10 px-[2%] rounded-lg text-sm focus:outline-none"
        type="search"
        name="search"
        placeholder="Search"
        autocomplete="off"
      />
    </div>
    <div class="w-full flex flex-wrap justify-center"></div>
  </div>
</div>
